<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @limit.time %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @limit.memory %>
</p>

<p>
  <strong>Output:</strong>
  <%= @limit.output %>
</p>

<%= link_to 'Edit', edit_limit_path(@limit) %> |
<%= link_to 'Back', limits_path %>
