<h4 class="page-header"><%= @article.title %></h4>

<div class="well">

<p>
  <%= markdown(@article.content) %>
</p>

<% if not @article.attachments.blank? %>
<p>
  <strong>Attachments: </strong><br>
  <% @article.attachments.each do |a| %>
    <%= link_to (a.path_identifier.to_s + " (" + number_to_human_size(a.path.file.size).to_s + ")"), a.path.to_s %><br>
  <% end %>
</p>
<% end %>

<p>
  <dfn>
    Last authored by: <%= link_to User.find(@article.author_id).nickname, user_path(@article.author_id) %>, <%= @article.updated_at.to_s(:clean) %>
  </dfn>
</p>

<%= link_to 'Back to Bulletin', articles_path, :class => 'btn btn-xs btn-default' %>
<% if user_signed_in? and current_user.admin? %>
  <%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-info btn-xs' %>
<% end %>
