<div class="alert alert-danger alert-dismissable" role="alert">
  <strong>Oh No! </strong> <%= "Make sure contest's tasks are set to `visible during contest` !" %>
</div>
<%= nested_form_for(@contest) do |f| %>
   <% if @contest.errors.any? %>
       <div id="error_explanation">
       <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

       <ul>
          <% @contest.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
          <% end %>
       </ul>
       </div>
   <% end %>

   <div class="form-group">
       <%= render 'contest_type_chooser', :f => f %>
   </div>
   
   <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, :class => 'form-control flat' %>
   </div>
   
   <div class="form-group">
       <%= f.label :description %>
       <%= f.text_area :description, :class => 'form-control flat', :rows => "9" %>
   </div>
   
   <div class="form-group">
       <%= f.label :start_time %>
       <%= f.datetime_local_field :start_time, :class => 'form-control flat', :type => 'datetime-local' %>
   </div>
   
   <div class="form-group">
       <%= f.label :end_time %>
       <%= f.datetime_local_field :end_time, :class => 'form-control flat', :type => 'datetime-local' %>
   </div>
   
   <%= f.fields_for :contest_problem_joints do |t| %>
     <div class="form-group">
       <div class="row">
         <div class="col-md-1">
          <%= t.label :task %>
         </div>
         <div class="col-md-2">
          <%= t.number_field :problem_id, :class => 'form-control flat', :autocomplete => "off" %>
         </div>
         <div class="col-md-3">
          <%= t.link_to_remove "Remove this task", :class => "btn btn-danger" %>
         </div>
       
       </div>
     </div>
   <% end %>
   <%= f.link_to_add "Add a task", :contest_problem_joints, :class => "btn btn-warning" %>
   
   <hr>
   
   <div class="actions">
       <%= f.submit :class => "btn btn-success btn-lg"%>
   </div>
<% end %>
