<h4 class='page-header'>
  Contest Name : <%= @contest.title %>
</h4>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Starts at</h1>
      </div>
      <div class="panel-body">
        <%= @contest.start_time.to_s(:clean) %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Ends at</h1>
      </div>
      <div class="panel-body">
        <%= @contest.end_time.to_s(:clean) %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Contest Type</h1>
      </div>
      <div class="panel-body">
        <% case @contest.contest_type %>
        <% when 0 %>
          gcj style (partial/dashboard)
        <% when 1 %>
          ioi style (partial/no dashboard)
        <% when 2 %>
          acm style (no partial/dashboard)
        <% else %>
          wtf
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Description</h1>
  </div>
  <div class="panel-body">
    <%= markdown(@contest.description) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Tasks</h1>
  </div>
  <div class="panel-body">
    <% @contest.contest_problem_joints.each_with_index do |task, index| %>
      <%= link_to ('p' + (65+index).chr + ' ' + task.problem_id.to_s + '. ' + Problem.find(task.problem_id).name), contest_problem_path(@contest, task.problem_id) %>
      <br>
    <% end %>
  </div>
</div>

<p>
  <% if @contest.contest_type != 1 or (user_signed_in? and current_user.admin?) %>
    <%= link_to 'Dashboard', {:controller => :contests, :action => :dashboard}, {:class => 'btn btn-xs btn-warning'} %>
  <% end %>
  <%= link_to 'Submissions', contest_submissions_path(@contest), :class => 'btn btn-info btn-xs' %>
  <% if user_signed_in? and current_user.admin? %>
    <%= link_to 'Edit', edit_contest_path(@contest), :class => 'btn btn-info btn-xs' %>
  <% end %>
  <%= link_to 'Back to Contests List', contests_path, :class => 'btn btn-default btn-xs' %>
</p>