<h1 class='page-header'>
  <%= @contest.id %> : <%= @contest.title %>
</h1>
<div class="well well-lg">
<p>
  <h5>Description</h5>
  <%= markdown(@contest.description) %>
</p>
<p>
  <h5>Start Time</h5>
  <%= @contest.start_time %>
</p>
<p>
  <h5>End Time</h5>
  <%= @contest.end_time %>
</p>
<p>
  <h5>Contest Type</h5>
  <%= markdown(@contest.contest_type.to_s) %>
</p>

<p>
  <h5>Tasks</h5>
  <% for task in @contest.contest_problem_joints %>
    <% if Problem.find_by_id(task.problem_id).nil? %>
      <%= task.problem_id.to_s.rjust(4, '0') + '  ' + 'Nil' %>
    <% else %>
      <%= link_to (task.problem_id.to_s.rjust(4, '0') + '  ' + Problem.find(task.problem_id).name), problem_path(task.problem_id) %>
    <% end %>
    <br>
  <% end %>
</p>
<% if user_signed_in? && current_user.admin == true %>
  <p>
    <%= link_to 'Dashboard', edit_contest_path(@contest) %>
    <%= link_to 'Edit', edit_contest_path(@contest) %>
    <%= link_to 'Edit', edit_contest_path(@contest) %>
  </p>
<% end %>

<div class = "row-fluid">
	<div class="btn-group dropup pull-right">
  		<button type="button" class="btn btn-default">Menu</button>
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    	<span class="caret"></span>
    	<span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu pull-right" style="border-width:1px;border-width-color:#0047AB;">
    <li><%= link_to 'Edit', edit_contest_path(@contest) %></li>
    <li><%= link_to 'Back', contests_path %></li>
  </ul>
</div>
</div>
