<h1 class='page-header'>
  Contest Name : <%= @contest.title %>
</h1>
<div class="well well-lg">
<table class="table">
  <tbody>
    <tr>
      <td>Starts at:</td>
      <td><%= @contest.start_time.to_s(:clean) %></td>
    </tr>
    <tr>
      <td>Ends at:</td>
      <td><%= @contest.end_time.to_s(:clean) %></td>
    </tr>
    <tr>
      <td>Contest Type:</td>
      <% if @contest.contest_type == 0 %>
	<td>gcj style (partial/dashboard)</td>
      <% elsif @contest.contest_type == 1 %>
	<td>ioi style (partial/no dashboard)</td>
      <% elsif @contest.contest_type == 2 %>
	<td>acm style (no partial/no dashboard)</td>
      <% else %>
	<td>wtf</td>
      <% end %>
    </tr>
  </tbody>
</table>
<p>
  <h5>Description</h5>
  <%= markdown(@contest.description) %>
</p>

<p>
  <h5>Tasks</h5>
  <% for task in @contest.contest_problem_joints %>
    <% if Problem.find_by_id(task.problem_id).nil? %>
      <%= task.problem_id.to_s.rjust(4, '0') + '  ' + 'Nil' %>
    <% else %>
      <%= link_to (task.problem_id.to_s.rjust(4, '0') + '  ' + Problem.find(task.problem_id).name), problem_path(task.problem_id) %>
    <% end %>
    <br>
  <% end %>
</p>

<p>
  <% if @contest.contest_type == 0 %>
    <%= link_to 'Dashboard', {:controller => :contests, :action => :dashboard}, {:class => 'btn btn-xs btn-primary'} %>
  <% elsif user_signed_in? && current_user.admin == true %>
    <%= link_to 'Dashboard', {:controller => :contests, :action => :dashboard}, {:class => 'btn btn-xs btn-primary'} %>
  <% end %>
  <% if user_signed_in? && current_user.admin == true %>
    <%= link_to 'Edit', edit_contest_path(@contest), :class => 'btn btn-info btn-xs' %>
  <% end %>
</p>
<div class = "row-fluid">
	<div class="btn-group dropup pull-right">
  		<button type="button" class="btn btn-default">Menu</button>
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    	<span class="caret"></span>
    	<span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu pull-right" style="border-width:1px;border-width-color:#0047AB;">
    <li><%= link_to 'Edit', edit_contest_path(@contest) %></li>
    <li><%= link_to 'Back', contests_path %></li>
  </ul>
</div>
</div>
