<%= form_for(@problem) do |f| %>
    <% if @problem.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

    <ul>
        <% @problem.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>

<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</div>
<div class="field">
    <%= f.label :input %><br>
    <%= f.text_area :input %>
</div>
<div class="field">
    <%= f.label :output %><br>
    <%= f.text_area :output %>
</div>
<div class="field">
    <%= f.label :example_input %><br>
    <%= f.text_area :example_input %>
</div>
<div class="field">
    <%= f.label :example_output %><br>
    <%= f.text_area :example_output %>
</div>
<div class="field">
    <%= f.label :hint %><br>
    <%= f.text_area :hint %>
</div>
<div class="field">
    <%= f.label :source %><br>
    <%= f.text_area :source %>
</div>
    <%= f.fields_for :limit do |ff| %>
<div class="field">
        <%= ff.label :time, "Time Limit"%>
    <%= ff.text_field :time %>
</div>
<div class="field">
    <%= ff.label :memory, "Memory Limit" %>
    <%= ff.text_field :memory %>
</div>
<div class="field">
    <%= ff.label :output, "Output Limit" %>
    <%= ff.text_field :output %>
</div>
  <% end %>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
