<%= nested_form_for @problem, :html => {:class => 'form'} do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>
      <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control flat' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :tag_list, "Tags" %>
        <%= f.text_field :tag_list, value: @problem.tag_list.to_s,:class => 'tagsinput ', :id => 'tagsinput' %>
        <script>
          $('.tagsinput').tagsInput();
        </script>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :visible_state %>
        <%= f.select :visible_state, [["[0]Public", "0"],
        ["[1]Visible during contest", "1"], ["[2]Invisible", "2"]], {}, {:class => 'form-control flat'} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :problem_type %>
        <%= f.select :problem_type, [["[0]Batch Judge", "0"],
        ["[1]Special Judge", "1"], ["[2]Interactive", "2"]], {}, {:class => 'form-control flat'} %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control flat', :rows => '9' %>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :input, "Input Format" %>
        <%= f.text_area :input, :class => 'form-control flat', :rows => '7' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :output, "Output Format" %>
        <%= f.text_area :output, :class => 'form-control flat', :rows => '7' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :example_input, "Sample Input" %>
        <%= f.text_area :example_input, :class => 'form-control flat', :rows => '7', :id => "code-input" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :example_output, "Sample Output" %>
        <%= f.text_area :example_output, :class => 'form-control flat', :rows => '7', :id => "code-input" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :hint, "Hints" %>
        <%= f.text_area :hint, :class => 'form-control flat', :rows => '3' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :source, "Problem Source" %>
        <%= f.text_area :source, :class => 'form-control flat', :rows => '3' %>
      </div>
    </div>
  </div>
  
  <% if @problem.problem_type == 1 %>
    <div class="form-group">
      <%= f.label :sjcode, raw('Special Judge Code ( <code>argv[1]: testee output, argv[2]: testdata input, argv[3]: testdata output, output 0 for AC otherwise WA</code> )') %>
      <%= f.text_area :sjcode, :class => 'form-control flat', :rows => '7', :id => "code-input" %>
    </div>
  <% elsif @problem.problem_type == 2 %>
    <div class="form-group">
      <%= f.label :interlib, raw('Interactive Library ( <code>#include "lib' + @problem.id.to_s.rjust(4, '0') + '.h"</code> )') %>
      <%= f.text_area :interlib, :class => 'form-control flat', :rows => '7', :id => "code-input" %>
    </div>
  <% end %>
  
  <%= f.label nil, "Testdata Sets (testdata no. starts from 0)" %><br>
  <%= f.fields_for :testdata_sets do |t| %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-1">
          <%= t.label :from, "From:" %>
          </div>
        <div class="col-md-1">
          <%= t.number_field :from, :min => 0, :max => @problem.testdata.size - 1, :class => 'form-control flat', :required => true %>
        </div>
        <div class="col-md-1">
          <%= t.label :to, "To:" %>
        </div>
        <div class="col-md-1">
          <%= t.number_field :to, :min => 0, :max => @problem.testdata.size - 1, :class => 'form-control flat', :required => true %>
        </div>
        <div class="col-md-1">
          <%= t.label :score, "Score:" %>
        </div>
        <div class="col-md-1">
          <%= t.number_field :score, :in => 0..100, :class => 'form-control flat', :required => true %>
        </div>
        <div class="col-md-1">
          <%= t.link_to_remove "Remove this range", :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.link_to_add "Add a Range", :testdata_sets, :class => 'btn btn-warning' %>
  <hr>
  <div class="actions">
    <%= f.submit :class => 'btn btn-success btn-lg' %>
  </div>
<% end %>

<script>
    $(document).on('nested:fieldRemoved',function(event){
        event.field.remove();
    });
</script>
