<h4 class="page-header">
  Problems 
  <% if params[:tag] %>
    <small>tagged with <%= params[:tag] %></small>
  <% end %>
</h4>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<% if user_signed_in? && current_user.admin == true %>
  <%= link_to 'New Problem', new_problem_path, :class => 'btn btn-primary' %><br>
<% end %>
<%= paginate @problems %>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Top Coder</th>
      <th>AC Ratio(user)</th>
      <th>AC Ratio(submission)</th>
      <% if user_signed_in? && current_user.admin == true %>
	<th>Visible State</th>
	<th></th>
      <% end %>
      <% if user_signed_in? %><th></th> <%end%>
      
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <% if (user_signed_in? and current_user.admin == true) or (problem.visible_state == 0) %>
        <tr>
          <td><%= link_to problem.id, problem %></td>
          <td>
            <div style="float:left"><%= link_to problem.name, problem %></div>
            <div style="float:right"><%= raw problem.tag_list.map{ |a| link_to a, problems_tag_path(a), :class => 'btn btn-xs btn-default' }.join(" ") %></div>
          </td>
          <td>
            <% begin %>
              <% tcoder = topcoder(problem) %>
              <% if tcoder %>
                <img src ="http://avatar.3sd.me/15" class="img-rounded img-responsive img-thumbnail" width="30" >
                <%= link_to tcoder.id, user_path(tcoder) %>
              <% end %>
            <% end %>
          </td>
          <td><%= users_ac_ratio(problem) %></td>
          <td><%= submissions_ac_ratio(problem) %></td>
          <% if user_signed_in? && current_user.admin == true %>
            <% if problem.visible_state == 0 %>
              <td>Public</td>
            <% elsif problem.visible_state == 1 %>
              <td>Public during contest</td>
            <% else %>
              <td>Invisible</td>
            <% end %>
            <td><%= link_to 'Edit', edit_problem_path(problem), :class => 'btn btn-info btn-xs' %></td>
          <% end %>
          <% if user_signed_in? %><td><%= link_to 'Submit', new_problem_submission_path(problem), :class => 'btn btn-success btn-xs' %></td><%end%>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<%= paginate @problems %>
