<h1 class="page-header">Problems</h1>

<%= paginate @problems %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Top Coder</th>
      <th>AC Ratio(user)</th>
      <th>AC Ratio(submission)</th>
      <th>Created At</th>
	<th></th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
        <tr>
            <td><%= problem.id %></td>
        <td><%= link_to problem.name, problem %></td>
        <td><img src ="http://avatar.3sd.me/15" class="img-rounded img-responsive img-thumbnail">TopCoder</td>
        <td>AC Ratio(user)</td>
        <td>AC Ratio(submission)</td>
        <td><%= problem.created_at %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Manage Testdata', problem_testdata_path(problem) %></td>
        <td><%= link_to 'Submit', new_problem_submission_path(problem) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @problems %>
<br />
<%= link_to 'New Problem', new_problem_path %>
