<h4 class="page-header">
  Problems 
  <% if params[:tag] %>
    <small>tagged with <%= params[:tag] %></small>
  <% end %>
</h4>

<% if user_signed_in? && current_user.admin == true %>
  <%= link_to 'New Problem', new_problem_path, :class => 'btn btn-primary btn-sm' %><br>
<% end %>

<form class="form-inline" accept-charset="UTF-8" method="get">
  <label for="search_id">Search Problems</label>
  <div class="form-group">
    <input style="width:150px" id="search_id" name="search_id" class="form-control input-sm flat" type="number" min="1" max="<%= Problem.count %>" placeholder="Enter Problem ID">
  </div>
  <div class="form-group">
    <input id="search_name" name="search_name" class="form-control input-sm flat" type="text" placeholder="Enter Problem Name">
  </div>
  <div class="form-group">
    <input id="tag" name="tag" class="form-control input-sm flat" type="text" placeholder="Enter tag">
  </div>
  <button type="submit" id="quick_search" class="btn btn-inverse btn-xs">Search</button>
</form>

<%= paginate @problems %>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>TopCoder</th>
      <th>AC Ratio(user)</th>
      <th>AC (submission)</th>
      <% if user_signed_in? && current_user.admin == true %>
	<th>Visibility</th>
      <% end %>
      <% if user_signed_in? %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <% if (user_signed_in? and current_user.admin?) or (problem.visible_state == 0) %>
        <tr>
          <td><%= link_to problem.id, problem %></td>
          <td>
            <div style="float:left"><%= link_to problem.name, problem %></div>
            <div style="float:right"><%= raw problem.tag_list.map{ |a| link_to a, problems_tag_path(a), :class => 'btn btn-xs btn-default' }.join(" ") %></div>
          </td>
          <td class="text-center">
            <% begin %>
              <% tcoder = topcoder(problem) %>
              <% if tcoder %>
                <%= link_to image_tag(tcoder.avatar.mini_thumb.to_s, :class => "img-rounded"), user_path(tcoder) %>
              <% end %>
            <% end %>
          </td>
          <td><%= users_ac_ratio(problem) %></td>
          <td><%= submissions_ac_ratio(problem) %></td>
          <% if user_signed_in? && current_user.admin? %>
            <% if problem.visible_state == 0 %>
              <td>Public</td>
            <% elsif problem.visible_state == 1 %>
              <td>Contest</td>
            <% else %>
              <td>Invisible</td>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <td>
              <% if current_user.admin? %>
                <%= link_to 'Edit', edit_problem_path(problem), :class => 'btn btn-info btn-xs' %>
              <% end %>
              <%= link_to 'Submit', new_problem_submission_path(problem), :class => 'btn btn-success btn-xs' %>
            </td>
          <% end %>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<%= paginate @problems %>
