<h4 class="page-header">Problems</h4>

<%= paginate @problems %>
<% if user_signed_in? && current_user.admin == true %>
  <br><%= link_to 'New Problem', new_problem_path, :class => 'btn btn-info btn-xs' %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Top Coder</th>
      <th>AC Ratio(user)</th>
      <th>AC Ratio(submission)</th>
      <% if user_signed_in? && current_user.admin == true %>
	<th>Visible State</th>
	<th></th>
	<th></th>
	<th></th>
      <% end %>
      <% if user_signed_in? %><th></th> <%end%>
      
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <% if user_signed_in? && current_user.admin == true %>
	<%= render 'problem_list_column', :problem => problem %>
      <% elsif problem.visible_state == 0 %>
	<%= render 'problem_list_column', :problem => problem %>
      <%end%>
    <% end %>
  </tbody>
</table>
<%= paginate @problems %>
