<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<h4 class="page-header">
  <%= @problem.id %> : <%= @problem.name %>
</h4>

<p>
<div class="row">
  <div class="col-md-2">
    <%= link_to 'Submit', {:controller => :submissions, :action => :new, :problem_id => @problem.id, :contest_id => @contest_id}, { :class => 'btn btn-success btn-xs btn-block' } %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Status', problem_submissions_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Ranklist', problem_ranklist_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <% if current_user and current_user.admin? %>
    <div class="col-md-2">
      <%= link_to 'Edit', edit_problem_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Manage Testdata', problem_testdata_path(@problem), :class => 'btn btn-warning btn-xs btn-block' %>
    </div>
  <% end %>
  <div class="col-md-2">
    <%= link_to 'Back to Problems List', problems_path, :class => 'btn btn-default btn-xs btn-block' %>
  </div>
</div>
</p>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Topcoder</h1>
      </div>
      <div class="panel-body">
        <%= topcoder(@problem).id %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">User's AC Ratio</h1>
      </div>
      <div class="panel-body">
        <%= users_ac_ratio(@problem) %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Submission's AC Ratio</h1>
      </div>
      <div class="panel-body">
        <%= submissions_ac_ratio(@problem) %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Tags</h1>
      </div>
      <div class="panel-body">
        <%= raw @problem.tag_list.map{ |a| link_to a, problems_tag_path(a), :class => 'btn btn-xs btn-default' }.join(" ") %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Description</h1>
  </div>
  <div class="panel-body">
    <%= markdown(@problem.description) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Input Format</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.input) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Output Format</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.output) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Sample Input</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.example_input) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Sample Output</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.example_output) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Hints</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.hint) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Problem Source</h1>
      </div>
      <div class="panel-body">
        <%= markdown(@problem.source) %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Subtasks</h1>
  </div>
  <div class="panel-body">
    <% @problem.testdata_sets.each do |s| %>
      For Testdata: <%= s.from %> ~ <%= s.to %>, Score: <%= s.score %><br>
    <% end %>
  </div>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>No.</th>
        <th>Time Limit (ms)</th>
        <th>Memory Limit (KiB)</th>
        <th>Output Limit (KiB)</th>
      </tr>
    </thead>
    <tbody>
      <% @problem.testdata.each_with_index do |testdatum, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= testdatum.limit.time.blank? ? "Nil" : testdatum.limit.time %></td>
          <td><%= testdatum.limit.memory.blank? ? "Nil" : testdatum.limit.memory %></td>
          <td><%= testdatum.limit.output.blank? ? "Nil" : testdatum.limit.output %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'Submit', {:controller => :submissions, :action => :new, :problem_id => @problem.id, :contest_id => @contest_id}, { :class => 'btn btn-success btn-xs btn-block' } %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Status', problem_submissions_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Ranklist', problem_ranklist_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
  </div>
  <% if current_user and current_user.admin? %>
    <div class="col-md-2">
      <%= link_to 'Edit', edit_problem_path(@problem), :class => 'btn btn-info btn-xs btn-block' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Manage Testdata', problem_testdata_path(@problem), :class => 'btn btn-warning btn-xs btn-block' %>
    </div>
  <% end %>
  <div class="col-md-2">
    <%= link_to 'Back to Top', '#', :class => 'btn btn-default btn-xs btn-block' %>
  </div>
</div>
