<h3>
  <%= @problem.id%>:<%= @problem.name %>
</h3>
<dfn>
Time Limit:<%= @limit.time%>ms<br/>
Memory Limit:<%= @limit.memory%>KB<br/>
Output Limit:<%= @limit.output%>KB<br/>
</dfn>
<p>
  <h5>Description</h5>
  <%= markdown(@problem.description) %>
</p>
<p>
  <h5>Input</h5>
  <%= markdown(@problem.input) %>
</p>
<p>
  <h5>Output</h5>
  <%= markdown(@problem.output) %>
</p>
<p>
  <h5>Sample Input</h5>
  <%= markdown(@problem.example_input) %>
</p>
<p>
  <h5>Sample Output</h5>
  <%= markdown(@problem.example_output) %>
</p>
<p>
  <h5>Hint</h5>
  <%= markdown(@problem.hint) %>
</p>
<p>
  <dfn>Source:
  <strong><%= @problem.source %></strong></dfn>
</p>
<div data-no-turbolinks class="navbar navbar-embossed navbar-fixed-bottom navbar-inverse" role="navigation" style="background-color:transparent;" id="menu">
	<div class = "row-fluid" id="lmenu">
		<div class="collapse navbar-collapse" id="navbar-collapse-01" style="padding-right:50px;background-color:#003365;">
			<ul class="nav navbar-nav navbar-right">           
                <li><%= link_to 'Edit', edit_problem_path(@problem) %></li>
                <li><%= link_to 'Back', problems_path %></li>
                <li><a href="#">Submit</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Discuss</a></li>
				<li><a href="#">Ranklist</a></li>
                <li><a href="#" id="fold">Fold</a></li>
			</ul>
	    </div>
	</div>
	<div class = "row-fluid" id="smenu">
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav navbar-right" style="background-color:#003365;">           
                <li><a href="#" class="btn btn-default" style="padding-right:50px;" id="unfold">Menu</a></li>
			</ul>
	    </div>
	</div>
</div>
