<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Input:</strong>
  <%= @problem.input %>
</p>
<p>
  <strong>Output:</strong>
  <%= @problem.output %>
</p>
<p>
  <strong>Example Input:</strong>
  <%= @problem.example_input %>
</p>
<p>
  <strong>Example Output:</strong>
  <%= @problem.example_output %>
</p>
<p>
  <strong>Hint:</strong>
  <%= @problem.hint %>
</p>
<p>
  <strong>Source:</strong>
  <%= @problem.source %>
</p>

<p>
  <strong>Time Limit:</strong>
  <%= @limit.time %>
</p>

<p>
  <strong>Memory Limit:</strong>
  <%= @limit.memory %>
</p>

<p>
  <strong>Time Limit:</strong>
  <%= @limit.output %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
