<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Source:</strong>
  <%= @problem.source %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
