<h4 class = "page-header">Users</h4>

<div class="form-inline">
  <div class="form-group">
    <label for="quick_user_id">Find User</label>
    <input id="quick_user_id" type="text" class="form-control input-sm flat" placeholder="Enter Username"/>
  </div>
  <button type="submit" id="find_user" class="btn btn-inverse btn-xs">Search</button>
</div>

<%= paginate(@users) %>
<table class ="table table-hover table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th></th>
      <th>Username</th>
      <th>Nickname</th>
      <th>Email</th>
      <th>Accepted</th>
      <th>AC Ratio</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each_with_index do |user, idx| %>
      <tr>
        <td><% offset = [params[:page].to_i, 1].max %><%= (offset-1) * 25 + idx + 1 %></td>
        <td><%= link_to image_tag(user.avatar.mini_thumb.to_s, :class => "img-rounded"), user_path(user) %></td>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td><%= user_ac_count(user) %></td>
        <td><%= ac_ratio_by_user(user) %></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= paginate(@users) %>
