<h4 class="page-header"><%= @user.username %></h4>

<div class="row">
  <div class="col-md-5">
    <%= image_tag(@user.avatar.to_s, :class => "img-rounded img-responsive") %><br/>
    <h6><%= @user.nickname %></h6>
    <%= @user.email %><br/>
    Signed up at: <%= @user.created_at.to_s(:clean) %><br>
    Last sign in: <%= @user.last_sign_in_at.to_s(:clean) %><br>
    
    Tried and accepted: <%= @user.ac_count %><br>
    Tried but in vain: <%= @user.in_vain_count %><br>
    <!--
    Accepted: <%= @user.prob_by_res('AC').count%> <br>
    Wrong Answer: <%= @user.prob_by_res('WA').count %> <br>
    Time Limit Exceed: <%= @user.prob_by_res('TLE').count %> <br>
    Segmentation Fault: <%= @user.prob_by_res('MLE').count %> <br>
    Runtime Error (exited with nonzero status): <%= @user.prob_by_res('RE').count %> <br>
    Runtime Error (exited with signal): <%= @user.prob_by_res('SIG').count %> <br>
    Compile Error: <%= @user.prob_by_res('CE').count %><br>
    -->
  </div>
  
  <div class="col-md-7">
    <table class="table">
      <thead>
        <tr>
          <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
      </thead>
              
      <tbody>
        <% @problems.each_with_index do |prob, idx| %>
          <% if idx%10 == 0 %>
            <tr>
          <% end %>
          
          <td>
            <% if user_problem_ac(@user, prob) %>
              <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-success" %>
            <% elsif user_problem_tried(@user, prob) %>
              <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-warning" %>
            <% else %>
              <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-muted" %>
            <% end %>
          </td>
          
          <% if idx%10 == 9 %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
