 <h4 class = "page-header">User <small>#<%= @user.id %></small></h4>
 <div class="row-fluid">
 <div class="col-xs-2">
 	<%= image_tag(@user.avatar.to_s, :class => "img-rounded img-responsive") %><br/>
 	<h6><%=@user.nickname%></h6>
 	<%=@user.email%><br/>

 </div>
 <div class="col-xs-9">
 	<table class="table">
 		<thead>
 			<tr>
 				<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
 			</tr>
 		</thead>
 			
 		<tbody>
 			<tr>
 			<% @problems.each_with_index do |prob, idx| %>
 			 	<% if idx%10 == 0%>
 			 	<tr>
 			 	<% end %>
 			 	<td><%= link_to "#{prob.id}", :controller=>"problems" ,:action => :show, :id=>prob.id %></td>
 			 	<% if idx%10 == 9%>
 			 	</tr>
 			 	<% end %>
 			<% end %>
 			</tr>
 		</tbody>
 	</table>
 </div>
 </div>