<h4 class="page-header"><%= @user.username %></h4>

<div class="row">
  <div class="col-md-5">
    <%= image_tag(@user.avatar.square.to_s, :class => "img-rounded img-responsive") %><br/>
    <h6><%= @user.nickname %></h6>
    <%= @user.email %><br/>
    <br>
    <blockquote><dfn><%= @user.motto %></dfn></blockquote>
    <div class="row">
      <div class="col-md-6">
      Tried and accepted:<br>
      Tried but in vain:<br>
      AC Ratio:
      </div>
      <div class="col-md-6">
        <%= @user.ac_count %><br>
        <%= @user.in_vain_count %><br>
        <%= ac_ratio_by_user(@user) %>
      </div>
    </div>
    <br>
    Signed up at: <%= @user.created_at.to_s(:clean) %><br>
    Last sign in: <%= @user.last_sign_in_at.to_s(:clean) %><br>
    <br>
    <%= link_to('Edit Account', edit_registration_path(:user), :class => 'btn btn-info btn-xs') %>
  </div>
  
  <div class="col-md-7">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
      </thead>
      <tbody>
        <% @problems.each_with_index do |prob, idx| %>
          <% if idx%10 == 0 %>
            <tr>
          <% end %>
          
          <td>
            <% if user_problem_ac(@user, prob) %>
              <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-success" %>
            <% elsif user_problem_tried(@user, prob) %>
              <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-warning" %>
            <% else %>
              <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-muted" %>
            <% end %>
          </td>
          
          <% if idx%10 == 9 %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
