<h4 class="page-header"><%= @user.username %></h4>

<div class="row">
  <div class="col-md-3">
    <%= image_tag(@user.avatar.to_s, :class => "img-rounded img-responsive") %><br/>
    <h6><%= @user.nickname %></h6>
    <%= @user.email %><br/>
    Accepted: <%= @user.prob_by_res('AC').count%> <br>
    Wrong Answer: <%= @user.prob_by_res('WA').count %>
    Time Limit Exceed: <%= @user.prob_by_res('TLE').count %>
    Segmentation Fault: <%= @user.prob_by_res('MLE').count %>
    Runtime Error (exited with nonzero status): <%= @user.prob_by_res('RE').count %>
    Runtime Error (exited with signal): <%= @user.prob_by_res('SIG').count %>
    Compile Error: <%= @user.prob_by_res('CE').count %>

  </div>
  
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
      </thead>
              
      <tbody>
        <% @problems.each_with_index do |prob, idx| %>
          <% if idx%10 == 0 %>
            <tr>
          <% end %>
          
          <td>
            <% if user_problem_ac(@user, prob) %>
              <%= link_to prob.id.to_s, problem_path(prob), :class => "text-success" %>
            <% elsif user_problem_tried(@user, prob) %>
              <%= link_to prob.id.to_s, problem_path(prob), :class => "text-warning" %>
            <% else %>
              <%= link_to prob.id.to_s, problem_path(prob), :class => "text-muted" %>
            <% end %>
          </td>
          
          <% if idx%10 == 9 %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
