<div class="row">
<!--
  <div class="col-md-5">
    <%= image_tag(@user.avatar.square.to_s, :class => "img-rounded img-responsive") %><br/>
    <h6><%= @user.nickname %></h6>
-->
  <div class="col-md-4">
    <%= image_tag(@user.avatar.square.to_s, :class => "img-rounded img-responsive") %><br/>
    <h5><%= @user.nickname %></h5>
    <h6><%= @user.username %></h6>
    <!--<% @user.email %><br/>-->
    <br>
    <% if not @user.motto.blank? %><blockquote><dfn><%= @user.motto %></dfn></blockquote><% end %>
    <div class="row">
      <div class="col-md-7">
        Tried and accepted:<br>
        Tried but in vain:<br>
        AC Ratio:
      </div>
      <div class="col-md-5">
        <%= @user.ac_count %><br>
        <%= @user.in_vain_count %><br>
        <%= ac_ratio_by_user(@user) %>
      </div>
    </div>
    <br>
    <% if user_signed_in? and current_user.admin? %>
      <div class="row">
        <div class="col-md-7">
          Admin:<br>
          Name:<br>
          School:<br>
          Gradyear:
        </div>
        <div class="col-md-5">
          <%= @user.admin %><br>
          <%= @user.name %><br>
          <%= @user.school %><br>
          <%= @user.gradyear %>
        </div>
      </div>
      <br>
    <% end %>
    Signed up at: <%= @user.created_at.to_s(:clean) %><br>
    Last sign in: <%= @user.last_sign_in_at.to_s(:clean) %><br>
    <br>
    <%= link_to('Edit My Account', edit_registration_path(:user), :class => 'btn btn-info btn-xs') %>
  </div>
  
  <div class="col-md-8">
    <table class="table table-condensed">
      <thead>
        <tr>
          <% 10.times do |a| %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @problems.each_with_index do |prob, idx| %>
          <% if idx%10 == 0 %>
            <tr>
          <% end %>
          
          <td>
            <% case @tried[prob.id] %>
              <% when 1 %>
                 <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-success" %>
              <% when 2 %>
                 <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-warning" %>
              <% else %>
                 <%= link_to prob.id.to_s, problem_submissions_path(prob, :filter_user_id => @user.id), :class => "text-muted" %>
            <% end %>
          </td>
          
          <% if idx%10 == 9 %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
