<%= form_tag(alter_announcement_path, :method => :post, :class => "form-inline") do %>
  <div class="form-group">
    <%= label_tag(:name) %>
    <%= text_field_tag(:name, nil, :class => "form-control input-sm flat") %>
  </div>
  <div class="form-group">
    <%= label_tag(:message) %>
    <%= text_field_tag(:message, nil, :class => "form-control input-sm flat") %>
  </div>
  <%= submit_tag("Submit", :class => "btn btn-success btn-xs") %>
<% end %>
