<h4 class="page-header">Listing testdata of Problem #<%= @problem.id%>. <%= @problem.name %></h4>

<%= link_to 'New Testdatum', new_problem_testdatum_path, :class => 'btn btn-success btn-sm' %> 

<table class = "table table-hover table-striped table-condensed">
  <thead>
      <tr>
          <th>No.</th>
	  <th>Input</th>
	  <th>Output</th>
	  <th>Time Limit</th>
	  <th>Memory Limit</th>
	  <th>Output Limit</th>
	  <th></th>
    </tr>
  </thead>

  <tbody >
  <% if @testdata.present? %>
    <% @testdata.each_with_index do |testdatum, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= testdatum.test_input.blank? ? "Nil" : "Uploaded" %></td>
        <td><%= testdatum.test_output.blank? ? "Nil" : "Uploaded" %></td>
        <td><%= testdatum.limit.time.blank? ? "Nil" : testdatum.limit.time %></td>
        <td><%= testdatum.limit.memory.blank? ? "Nil" : testdatum.limit.memory %></td>
        <td><%= testdatum.limit.output.blank? ? "Nil" : testdatum.limit.output %></td>
        <td>
          <%= link_to 'Edit', edit_problem_testdatum_path(@problem, testdatum), :class => 'btn btn-info btn-xs' %>
          <%= link_to 'Destroy', problem_testdatum_path(@problem, testdatum), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back to Problem', problem_path(@problem), :class => 'btn btn-default btn-xs' %>
