<h4>Listing testdata of Problem #<%= @problem.id%></h4>

<table class = "table">
  <thead>
      <tr>
          <th>ID</th>
      <th>Input</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody >
  <% if @testdata.present? %>
    <% @testdata.each do |testdatum| %>
      <tr>
        <td><%= testdatum.id %></td>
        <td><%= testdatum.test_input %></td>
        <td><%= testdatum.test_output %></td>
        <td><%= link_to 'Show', problem_testdatum_path(@problem, testdatum), :class=>'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_problem_testdatum_path(@problem, testdatum) %></td>
        <td><%= link_to 'Destroy', problem_testdatum_path(@problem, testdatum), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testdatum', new_problem_testdatum_path %>
