<%= form_for [@problem, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= render 'compiler_chooser', :f => f %>
  </div>
  
  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_area :code, :class => 'form-control flat', :rows => "15", :id => "code-input" %>
  </div>
  
  <!--<% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :result %>
      <%= f.text_field :result, :class => 'form-control flat' %>
    </div>
    <div class="form-group">
      <%= f.label :score %>
      <%= f.number_field :score, :class => 'form-control flat' %>
    </div>
  <% end %>-->
  
  <% if @contest_id %>
    <div class="field">
      <%= hidden_field_tag :contest_id, @contest_id %>
    </div>
  <% end %>
  
  <hr>
  
  <div class="actions">
    <%= f.submit :class => 'btn btn-success btn-lg' %>
  </div>
<% end %>

