<% if @problem %>
  <h1 class="page-header">Submissions <small>Problem #<%= @problem.id%></small></h1>
<% else %>
  <h1 class="page-header">Submissions</h1>
<% end %>

<%= paginate @submissions %>
<table class='table'>
  <thead>
    <tr>
      <th>Problem ID</th>
      <th>Compiler</th>
      <th>Result</th>
      <th>Score</th>
      <th>Updated At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.problem_id, problem_path(submission.problem) %></td>
        <td><%= submission.compiler %></td>
        <td><%= submission.result %></td>
        <td><%= submission.score %></td>
        <td><%= time_ago_in_words(submission.updated_at) %> ago</td>
        <td><%= link_to 'Show', submission, :class => 'btn btn-xs btn-primary'%></td>
        <td><%= link_to 'Edit', edit_submission_path(submission), :class => 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @submissions %>
<% if @problem %>
  <%= link_to 'New Submission', new_problem_submission_path(@problem) %>
<% else %>
  <div>
      Quick Submit to Problem <input id="quick_prob_id" type="text" size="4" /> 
      <button type="submit" id="quick_submit" class="btn btn-xs btn-default">Submit</button>
    </div>

<% end %>
