<h1>Listing submissions</h1>

<table>
  <thead>
    <tr>
      <th>Problem ID</th>
      <th>Compiler</th>
      <th>Result</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.problem_id %></td>
        <td><%= submission.compiler %></td>
        <td><%= submission.result %></td>
        <td><%= submission.score %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
    Quick Submit to Problem <input id="quick_prob_id" type="text" size="4" /> 
    <button type="submit" id="quick_submit">Submit</button>
</div>
