<h4 class="page-header">
  Submissions 
  <% if @problem %>
    <small>Problem #<%= @problem.id%></small>
  <% end %>
  <% if @contest %>
    <small>Contest #<%= @contest.id%></small>
  <% end %>
</h4>

<%= paginate @submissions %>
<table class='table table-hover table-striped table-condensed'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Problem ID</th>
      <th>Submitter</th>
      <th>Compiler</th>
      <th>Time (ms)</th>
      <th>Memory (KiB)</th>
      <th>Result</th>
      <th>Score</th>
      <th>Submit Date</th>
      <% if user_signed_in? && current_user.admin == true %>
         <th></th>
         <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
      <% if censored(submission) %>
	<td></td>
        <td></td>
        <td><code>censored</code></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% else %>
        <td><%= link_to submission.id, submission_path(submission) %></td>
        <td><%= link_to submission.problem_id, problem_path(submission.problem) %></td>
        <td><%= link_to submission.user_id, user_path(submission.user) %></td>
        <td><%= submission.compiler %></td>
        <td><%= submission.total_time %></td>
        <td><%= submission.total_memory %></td>
        <td><%= submission.result %></td>
        <td><%= submission.score %></td>
        <td><%= submission.created_at.to_s(:clean) %></td>
         <% if user_signed_in? && current_user.admin == true %>
	   <td><%= link_to 'Rejudge', {:controller => :submissions, :action => :rejudge, :id => submission.id, :page => @submissions.current_page} , :class => 'btn btn-xs btn-primary' %></td>
           <td><%= link_to 'Edit', edit_submission_path(submission), :class => 'btn btn-info btn-xs' %></td>
           <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-danger' %></td>
         <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @submissions %>
<br />
<% if @problem %>
  <%= link_to 'Submit to Problem', new_problem_submission_path(@problem), :class => "btn btn-success" %>
<% else %>
  <div class="form-inline">
    <label id="quick_prob_id">Quick Submit to Problem</label>
    <input id="quick_prob_id" type="number" class="form-control flat" min="1" max="99999"/> 
    <button type="submit" id="quick_submit" class="btn btn-success">Submit</button>
  </div>
<% end %>
