<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<h4 class="page-header">
  Submissions 
  <% if @problem %>
    <small>Problem #<%= @problem.id%></small>
  <% end %>
  <% if @contest %>
    <small>Contest #<%= @contest.id%></small>
  <% end %>
</h4>

<% if @problem %>
  <%= link_to 'Submit to Problem', new_problem_submission_path(@problem), :class => "btn btn-success btn-xs" %>
<% else %>
  <div class="form-inline">
    <div class="form-group">
      <label for="quick_prob_id">Quick Submit</label>
      <input id="quick_prob_id" type="number" class="form-control input-sm flat" min="1" placeholder="Enter Problem ID"/>
    </div>
    <button type="submit" id="quick_submit" class="btn btn-success btn-xs">Submit</button>
  </div>
<% end %>

<form class="form-inline" accept-charset="UTF-8" method="get">
  <label for="filter_user">Quick Filter</label>
  <div class="form-group">
    <input id="filter_user" name="filter_user" class="form-control input-sm flat" type="text" placeholder="Enter Submitter">
  </div>
  <div class="form-group">
    <input id="filter_problem" name="filter_problem" class="form-control input-sm flat" type="number" min="1" placeholder="Enter Problem ID">
  </div>
  <div class="form-group">
    <select id="filter_status" name='filter_status[]' class="selectpicker" multiple="multiple" title="Select Result">
      <option value="AC">Accepted</option>
      <option value="WA">Wrong Answer</option>
      <option value="TLE">Time Limit Exceeded</option>
      <option value="MLE">Segmentation Fault</option>
      <option value="RE">Runtime Error</option>
      <option value="CE">Compilation Error</option>
    </select>
  </div>
  <button type="submit" id="quick_filter" class="btn btn-inverse btn-xs">Filter</button>
</form>

<script>
$(".selectpicker").selectpicker({style: "form-control input-lg flat"});
</script>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th>PID</th>
      <th>Submitter</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Verdict</th>
      <th>Compiler</th>
      <th>Code Length</th>
      <th>Score</th>
      <th>Submit Time</th>
      <% if user_signed_in? && current_user.admin == true %>
         <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
      <% if censored(submission) %>
	<td></td>
        <td></td>
        <td><code>censored</code></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% else %>
        <td><%= link_to submission.id, submission_path(submission) %></td>
        <td><%= link_to submission.problem_id, problem_path(submission.problem) %></td>
        <td><%= link_to submission.user.nickname, user_path(submission.user) %></td>
        <td><%= submission.total_time %></td>
        <td><%= submission.total_memory %></td>
        <% case submission.result %>
          <% when "WA" %>
            <td class="text-danger">WA</td>
          <% when "TLE" %>
            <td class="text-info">TLE</td>
          <% when "MLE" %>
            <td class="text-warning">MLE</td>
          <% when "RE" %>
            <td class="text-warning">RE</td>
          <% when "AC" %>
            <td class="text-success">AC</td>
          <% else %>
            <td><%= submission.result %></td>
        <% end %>
        <td><%= submission.compiler %></td>
        <td><%= number_to_human_size(submission.code.size) %></td>
        <td><%= submission.score %></td>
        <td><%= submission.created_at.to_s(:clean) %></td>
        <% if user_signed_in? && current_user.admin == true %>
	  <td>
            <%= link_to 'Rejudge', {:controller => :submissions, :action => :rejudge, :id => submission.id, :page => @submissions.current_page} , :class => 'btn btn-xs btn-primary' %>
          </td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @submissions %>


