<!--<%= javascript_include_tag 	"/stylesheets/prism.js" %>
<%= stylesheet_link_tag 	"/stylesheets/prism.css" %>-->
<h4 class="page-header">New submission <small><%= @problem.id %>. <%= @problem.name %><small></h4>

<%= render 'form' %>

<%= link_to 'Show Problem', problem_path(@problem), :class => 'btn btn-primary btn-xs' %>
<%= link_to 'Back to Submissions List', submissions_path, :class => 'btn btn-default btn-xs' %>

