<%= javascript_include_tag 	"/stylesheets/prism.js" %>
<%= stylesheet_link_tag 	"/stylesheets/prism.css" %>
<p id="notice"><%= notice %></p>
<strong>Code:</strong>
<pre class = "line-numbers"><code class="language-c-like">
  <%=@submission.code %>
</code></pre>

<p>
  <strong>Compiler:</strong>
  <%= @submission.compiler %>
</p>

<p>
  <strong>Result:</strong>
  <%= @verdict[@submission.result] %>
</p>

<p>
  <strong>Score:</strong>
  <%= @submission.score %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %> |
<%= link_to 'Rejudge', {:controller => :submissions, :action => :rejudge, :id => @submission.id} %>
