<%= javascript_include_tag 	"/stylesheets/prism.js" %>
<%= stylesheet_link_tag 	"/stylesheets/prism.css" %>
<p id="notice"><%= notice %></p>
<% if censored(@submission) %>
  <h4 class="page-header">Results of submission #<code>censored</code></h4>
  <code>censored</code>
<% else %>
<h4 class="page-header">Results of submission #<%= @submission.id %></h4>

<p>
  <strong>Problem:</strong>
  <%= link_to @submission.problem.id.to_s + " " + @submission.problem.name, problem_path(@submission.problem) %>
</p>
<p>
  <strong>Compiler:</strong>
  <%= @submission.compiler %>
</p><p>
  <strong>Total Time:</strong>
  <%= @submission.total_time %>
</p><p>
  <strong>Max Memory:</strong>
  <%= @submission.total_memory %>
</p>
<p>
  <strong>Verdict:</strong>
  <%= @verdict[@submission.result] %>
</p>
<p>
  <strong>Score:</strong>
  <%= @submission.score %>
</p>

<p>
<table class="table">
<thead>
  <tr>
    <th>Testdata no.</th>
    <th>Time (ms)</th>
    <th>Memory (Kib)</th>
    <th>Verdict</th>
  </tr>
</thead>
<tbody>
  <% Range.new(0, @submission.problem.testdata.size - 1).each do |i| %>
    <tr>
      <td><%= i %></td>
      <td><%= @_result[i*3+1] %></td>
      <td><%= @_result[i*3+2] %></td>
      <td><%= @verdict[@_result[i*3]] %></td>
    </tr>
  <% end %>
</tbody>
</table>
</p>

<strong>Code:</strong>
<pre class = "line-numbers"><code class="language-c-like">
  <%= @submission.code %>
</code></pre>

<%= link_to 'Back', submissions_path %>
<% if user_signed_in? and current_user.admin? %>
<%= link_to 'Rejudge', {:controller => :submissions, :action => :rejudge, :id => @submission.id} %>
<% end %>
<% end %>