<%= javascript_include_tag 	"/stylesheets/prism.js" %>
<%= stylesheet_link_tag 	"/stylesheets/prism.css" %>

<% if censored(@submission) %>
  <h4 class="page-header">Results of submission #<code>censored</code></h4>
  <code>censored</code>
<% else %>

<h4 class="page-header">Results of submission #<%= @submission.id %></h4>

<p>
<%= link_to 'Back to Submissions List', submissions_path, :class => 'btn btn-default btn-xs' %>
<% if user_signed_in? and current_user.admin? %>
  <%= link_to 'Rejudge', { :controller => :submissions, :action => :rejudge, :id => @submission.id }, :class => 'btn btn-xs btn-primary' %>
  <%= link_to 'Edit', edit_submission_path(@submission), :class => 'btn btn-info btn-xs' %>
  <%= link_to 'Destroy', @submission, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-xs btn-danger' %>
<% end %>
</p>

<% case @submission.result %>
  <% when "WA" %>
    <div class="panel panel-danger">
  <% when "TLE" %>
    <div class="panel panel-info">
  <% when "MLE" %>
    <div class="panel panel-warning">
  <% when "RE" %>
    <div class="panel panel-warning">
  <% when "AC" %>
    <div class="panel panel-success">
  <% else %>
    <div class="panel panel-default">
<% end %>
  <div class="panel-heading">
  <div class="row">
    <div class="col-md-3">
      <h1 class="panel-title">Problem</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Total Time (ms)</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Max Memory (KiB)</h1>
    </div>
    <div class="col-md-3">
      <h1 class="panel-title">Verdict</h1>
    </div>
    <div class="col-md-2">
      <h1 class="panel-title">Score</h1>
    </div>
  </div>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <% if @submission.contest_id.blank? %>
        <%= link_to @submission.problem.id.to_s + ". " + @submission.problem.name, problem_path(@submission.problem) %>
      <% else %>
        <%= link_to @submission.problem.id.to_s + ". " + @submission.problem.name, contest_problem_path(@submission.contest_id, @submission.problem) %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= @submission.total_time %>
    </div>
    <div class="col-md-2">
      <%= @submission.total_memory %>
    </div>
    <div class="col-md-3">
      <%= @verdict[@submission.result] %>
    </div>
    <div class="col-md-2">
      <%= @submission.score %>
    </div>
  </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Testdata no.</th>
        <th>Time (ms)</th>
        <th>Memory (Kib)</th>
        <th>Verdict</th>
      </tr>
    </thead>
    <tbody>
      <% Range.new(0, @submission.problem.testdata.size - 1).each do |i| %>
        <tr>
          <td><%= i %></td>
          <td><%= @_result[i*3+1] %></td>
          <td><%= @_result[i*3+2] %></td>
          <td><%= @verdict[@_result[i*3]] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="well well-sm">
  <div class="row">
    <div class="col-md-1">
      <strong>Compiler:</strong>
    </div>
    <div class="col-md-2">
      <%= @submission.compiler %>
    </div>
    <div class="col-md-2">
      <strong>Code Length:</strong>
    </div>
    <div class="col-md-2">
      <%= number_to_human_size(@submission.code.size) %>
    </div>
  </div>
</div>

<style>
  code{ margin-left: -15px;}
</style>
<pre class="line-numbers">
  <code class="language-c-like">
    <%= @submission.code %>
  </code>
</pre>

<%= link_to 'Back to Top', '#', :class => 'btn btn-default btn-xs' %>

<% end %>