<% comment = post.comments.build %>
<%= form_for [post, comment] do |f| %>
    <div class="field">
    <%= f.label :title, 'Title: ' %>
    <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :content, "Content: "%> <small> &nbsp; (All characters are rendered with 
            <a href="https://guides.github.com/features/mastering-markdown/" >Markdown</a>)</small><br />
    <%= f.text_area :content %>
    </div>
    <br />
    <div class="submit_comment" >
        <%= f.submit "Create Comment", :class => "btn btn-primary btn-xs" %>
    </div>
<% end %>
