<%= form_for @problem ? [@problem, @post] : @post  do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this problem from being saved:</h2>

        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :title, "Title:"%> <br />
        <%= f.text_field :title, :class=> 'form-control', :placeholder=>'Title'%>
    </div>
    <div class="form-group"> 
        <%= f.label :content, "Content:" %> <br />
        <%= f.text_area :content, :class=> 'form-control', :placeholder=>'Content'%>
    </div>
    <div class="form-group">
        <%= f.submit :class=>"btn btn-primary "%>
    </div>
<% end %>

