<% if @problem %> 
  <h4 class="page-header">Discuss <small>Problem #<%= @problem.id %></small></h4>
<% else %>
  <h4 class="page-header">Discuss</h4>
<% end %>

<div class="actions">
  <% if user_signed_in? %>
  <% if @problem != nil %>
    <%= link_to "New Post", new_problem_post_path(@problem), :class => "btn btn-default" %>
<% else %>
    <%= link_to "New Post", new_post_path, :class => "btn btn-default"%>
<% end %>
<% end %>
</div>

<%= paginate @posts %>
<div class="posts">
  <% @posts.each do |post| %>
    <div class="post well">
    <div class="post_title">
      <h3 class="post_title"><%= post.title %></h3>
      <% if post.problem_id != nil %>
        <small class="title_problem_id"> Problem #<%= post.problem_id %></small>
    <% end %>
    </div>
    </br >
    <div class="post_content">
      <%= markdown(post.content) %>
    </div>
    <%= link_to "Edit Post", edit_post_path(post), :class=>'btn btn-primary btn-xs'%>
    <%= link_to "Delete Post", post, method: :delete, data:{confirm:"Sure?"}, :class=>'btn btn-danger btn-xs' %>
    <% if post.comments.size > 0 %>
      <div class="comments">
      <h5>Comments: </h5>
      <% comments = post.comments %>
      <% count = 0;%>
      <% comments.each do |comment| %>
        <% count += 1 %>
      <div class="comment well well-lg">
        <h4 class="comment_title">
          #<%=count %> <%= comment.title %>
      </h4>
        <div class="comment_content" >
          <%= markdown(comment.content) %>
        </div>
        <%= link_to "Edit", edit_post_comment_path(post, comment), :class=>'btn btn-primary btn-xs' %>
        <%= link_to "Delete", post_comment_path(post, comment), :method => :delete, data:{confirm:"Sure?"}, :class=>'btn btn-danger btn-xs' %>
      </div> <!--comment -->
    <% end %><!-- comments.each -->
    </div> <!-- comments -->
  <% end %> <!-- if post.comments -->
    <div class="new_comment" style="display:inline">
      <button class="new_comment btn btn-info btn-xs">New Comment</button>
      <br /> <br />
      <div class="new_comment_form">
        <%= render partial: 'comment_form', :locals => {:post => post}  %>
      </div> <!-- new_comment_form -->
    </div> <!-- new_comment -->
  </div> <!-- post -->
  <br />
<% end %>
</div> <!-- posts div -->
<%= paginate @posts%>
