<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>TIOJ INFOR Online Judge</title>
   <%= stylesheet_link_tag    "application", media: "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
   body{
      padding-top:30px;
   }
</style>
</head>

<body>
<div class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation" style="background-color:#003365">    
   <div class="row-fluid">
      <div class="col-xs-12">
         <div class="row-fluid">
            <%= link_to image_tag("banner_" + (Time.now.min % 4).to_s + ".jpg"), root_path %>
         </div>
         <div class = "row-fluid">
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
               <ul class="nav navbar-nav navbar-left">           
                  <li><%= link_to "About", about_url %></li>
                  <li><%= link_to "Problems", problems_path %></li>
                  <li><%= link_to "Submissions", submissions_path %></li>
                  <li><%= link_to "Contests", contests_path %></li>
                  <li><%= link_to "Discuss", posts_path %></li>
                  <li><%= link_to "Users", users_path %></li>
                  <% if current_user %>
                     <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                     <li><%= link_to('Edit password', edit_registration_path(:user)) %></li>
                  <% else %>
                     <li><%= link_to('Login', new_session_path(:user)) %> </li>
                     <li><%= link_to('Sign up', new_registration_path(:user)) %></li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
<!-- /.navbar-collapse -->
   </div>
</div> <!-- /navbar -->
<div class="container-fluid" id="container">
   <div class="row-fluid">
      <div class = "col-xs-12">
         <%= yield %>
      </div>
   </div>
</div>
</body>
</html>
