<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>TIOJ INFOR Online Judge</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{
    padding-top:70px;
}
</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation" style="background-color:#003365">    
    <div class="row-fluid">
        <div class="col-xs-12">
		<div class="row-fluid">
			<img src="/images/banner_2.jpg">
		</div>
		<div class = "row-fluid">
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
			<ul class="nav navbar-nav navbar-left">           
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Problems", problems_path %></li>
                <li><%= link_to "Submissions", submissions_path %></li>
                <li><%= link_to "Discuss", posts_path %></li>
				<li><a href="#ranklist">Ranklist</a></li>
				<li><a href="#userfile">Userfile</a></li>
				<li><a>Login</a></li>
			</ul>
	       </div>
	       </div>
	</div>
	<!-- /.navbar-collapse -->
</div>
</div> <!-- /navbar -->
<div class="container-fluid" id="container">
    <div class="row-fluid">
        <div class = "col-xs-12">
            <%= yield %>
        </div>
    </div>
</div>
</body>
</html>
